.web {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* batas */

.web .container {
    width: 100%;
    min-height: calc(100vh - 70px);
    /* min-height: 100vh; */
    height: 150vh;
    overflow-y: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.refresh {
    display: none;
}

.web .container .container-circle {
    width: 80%;
    height: auto;
    background-color: #fff;
    border: 3px solid #21212b;
    margin-top: 30px;
}

@media screen and (max-width:767px) {
    .refresh {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orangered;
        color: #f2f2f2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 15px;
        z-index: 3;
    }
}