@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --waktu-transisi: 0.2s ease;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.web {
    width: 100%;
    height: 500vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #ddd;
}

.web .brand {
    width: 80%;
    height: 55px;
    background-color: #00848c;
    background: linear-gradient(to bottom, #125659, #00848c, #00848c);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    gap: 100px;
    position: absolute;
    top: 30px;
    position: relative;
    top: 30px;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    border: 1px solid #fff;
}

.web .brand img {
    height: 55px;
    filter: drop-shadow(0px 1px 1px aqua);
}

.web .navbar {
    width: 80%;
    height: 35px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    position: relative;
    top: 30px;
    transition: var(--waktu-transisi);
    border: 1px solid #fff;
    position: absolute;
    top: 85px;
}

.web .navbar.click {
    height: 15px;
    transition: var(--waktu-transisi);
}

.web .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 4px;
    list-style-type: none;
    background-color: transparent;
    transition: var(--waktu-transisi);
}

.web .navbar ul li a {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: blue;
    font-size: 13px;
    transition: var(--waktu-transisi);
}

.web .navbar ul li a:hover {
    color: orangered;
    border-bottom: 2px solid orangered;
    border-radius: 1px;
}

.web .navbar .toggle-button {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -25px;
    left: 95%;
    transition: var(--waktu-transisi);
}

.web .navbar.click .toggle-button {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid green;
    transition: var(--waktu-transisi);
    border-top: none;
    top: -22px;
    left: 94.6%;
} *

.web .navbar.click .menu-navbar li a {
    font-size: 0;
    transition: var(--waktu-transisi);
}

.web .navbar .menu-navbar li:hover .dropdown {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #000;
}

.web .navbar .menu-navbar .dropdown {
    display: none;
}

.web .navbar .menu-navbar .dropdown ul li a {
    font-size: 5px;
    color: red;
}

.web .navbar .menu-navbar li .toggle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid blue;
    position: relative;
    top: 16px;
    left: 5px;
    cursor: pointer;
    transition: var(--waktu-transisi);
}

.web .navbar .toggle-button {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid blue;
    position: relative;
    cursor: pointer;
    left: 95%;
    top: -20px;
    transition: var(--waktu-transisi);
    border-radius: 3px;
}

.web .navbar.click .toggle-button {
    transition: var(--waktu-transisi);
    border: none;
    width: 20px;
    height: 3px;
    background-color: blue;
    border-radius: 3px;
    transform: rotate(180deg);
}

.web .image-profile-container {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    background-color: #125659;
}

.web .image-profile-container .content-slide {
    width: 100%;
    height: 600px;
    position: relative;
    margin: auto;
}

.web .image-profile-container .content-slide .imgslide {
    display: none;
}

.web .image-profile-container .content-slide .imgslide .content {
    width: 1920px;
    height: 600px;
    background-color: #125659;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} *

.web .image-profile-container .content-slide .imgslide img {
    width: 100%;
    height: 600px;
    position: absolute;
}

.web .image-profile-container .content-slide .imgslide .fluid {
    border: 5px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 70%;
    color: #fff;
    margin-left: 15%;
    position: relative;
    top: 200px;
    z-index: 1;
}

.web .image-profile-container .content-slide .imgslide .filter {
    width: 100%;
    height: 600px;
    background-color: #000;
    position: absolute;
    top: 0;
    opacity: 50%;
}

.web .image-profile-container .content-slide .button-slide {
    width: 90%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    padding: 10px 15px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 1;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    color: #125659;
    text-decoration: none;
}

.content-slide .numberslide {
    color:  #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 570px;
    left: 46.8%;
}

@media screen and (max-width: 800px){
    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;

    }
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
} *

.image-profile-container .page {
    position: absolute;
    top: 530px;
    left: 600px;
    z-index: 3;
    text-align: center;
    padding-top: 20px;
    z-index: 1;
}

.image-profile-container .page .dot {
    cursor: pointer;
    height: 10px;
    width: 50px;
    margin: 0 2px;
    background-color: #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 5px;
    border: 0.5px solid #f44336;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.image-profile-container .page .active,
.image-profile-container .page .dot:hover {
    background-color: #f44336;
    border: 1px solid #fff;
}

.web .program-kerja-osim {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 900px;
    background-color: #125659;
    background-image: url(assets\ image/hexagon-background.jpg);
    background-size: cover;
}

.web .program-kerja-osim .headline {
    width: auto;
    height: auto;
    padding: 50px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.web .program-kerja-osim .headline h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
}

.web .program-kerja-osim .headline span {
    width: 150px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
}

.web .program-kerja-osim .grub {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    padding: 0 50px;
}

.web .program-kerja-osim .grub .sekbid-1 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 2 / 3 / 3 / 4;
}

.web .program-kerja-osim .grub .sekbid-2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 2 / 5 / 3 / 6;
}

.web .program-kerja-osim .grub .sekbid-3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 2 / 7 / 3 / 8;
}

.web .program-kerja-osim .grub .sekbid-4 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 2 / 9 / 3 / 10;
}

.web .program-kerja-osim .grub .sekbid-5 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 4 / 3 / 5 / 4;
}

.web .program-kerja-osim .grub .sekbid-6 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 4 / 5 / 5 / 6;
}

.web .program-kerja-osim .grub .sekbid-7 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 4 / 7 / 5 / 8;
}

.web .program-kerja-osim .grub .sekbid-8 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    grid-area: 4 / 9 / 5 / 10;
}

.web .arsip {
    width: 100%;
    height: 400px;
    background-color: #00848c;
    position: absolute;
    top: 2000px;
    display: flex;
    justify-content: center;
}

.web .arsip .fluid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 30px 0;
    color: #fff;
}

.web .arsip .fluid .left {
    grid-area: 1 / 3 / 3 / 5;
    width: 450px;
    height: 100%;
    background-color: #125659;
}

.web .arsip .fluid .center-top {
    grid-area: 1 / 6 / 2 / 8;
    width: 450px;
    height: 1-0%;
    background-color: #125659;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: end;
}

.web .arsip .fluid .center-bottom {
    grid-area: 2 / 6 / 3 / 8;
    width: 450px;
    height: 100%;
    background-color: #125659;
    padding-top: 10px;
    border-top: 1px solid #fff;
}

.web .arsip .fluid .right {
    grid-area: 1 / 9 / 3 / 11;
    width: 450px;
    height: 100%;
    background-color: #125659;
}

.web .watermark {
    width: 100%;
    height: 50px;
    background-color: #ddd;
    position: absolute;
    top: 2450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.web .watermark h1 {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.web .watermark .media-sosial {
    display: flex;
    gap: 10px;
}

/* batas */

Gaya dasar alert *
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    display: block;
    position: absolute;
    top: 20px;
    z-index: 2;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.closebtn:hover {
    color: black;
}

.popup-alert {
    background-color: red;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: #fff;
}

/* batas */

.web .navbar .toggle-button .bard {
    display: none;
}

@media screen and (max-width: 500px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    :root {
        --waktu-transisi: 0.2s ease;
    }
    
    ::-webkit-scrollbar {
        width: 0;
    }
    
    body {
        font-family: 'Mochiy Pop One', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
    }
    
    .web {
        width: 100%;
        height: 500vh;
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-color: #ddd;
    }
    
    .web .brand {
        width: 100%;
        height: 50px;
        background-color: black;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        z-index: 3;
    }
    
    .web .brand img {
        height: 45px;
    }
    
    .web .navbar {
        width: 100%;
        height: 0;
        background-color: yellow;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 3;
        display: flex;
        transition: var(--waktu-transisi);
    }
    
    .web .navbar.click {
        height: 100px;
        transition: var(--waktu-transisi);
    }
    
    .web .navbar .toggle-button {
        width: 20px;
        height: 20px;
        background-color: orangered;
        z-index: 5;
        position: absolute;
        top: -35px;
        left: 10px;
        transition: var(--waktu-transisi);
        cursor: pointer;
        border-radius: 5px;
    }
    
    .web .navbar.click .toggle-button {
        background-color: orangered;
        transition: var(--waktu-transisi);
        transform: rotate(45deg);
    }
    
    .web .image-profile-container .content-slide .imgslide img {
        width: 100%;
    }
}