.web .container .header-section {
    width: 80%;
    max-height: 500px;
    background-color: transparent;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 0;
}

.web .container .header-section img {
    height: 100%;
    border-radius: 10px;
    border: 1px solid #21212b;
}

.web .container .header-section .blog {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 20px;
    background-color: transparent;
}

.web .container .header-section .blog .quotes {
    width: 100%;
    height: auto;
    background-color: #21212b;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    padding: 20px;
}

.web .container .header-section .blog .quotes h2 {
    font-size: 30px;
    color: #faff00;
}

.web .container .header-section .blog .quotes p {
    font-size: 12px;
    color: #f2f2f2;
}

.web .container .header-section .blog img {
    display: none;
}

.web .container .header-section .blog a {
    width: 200px;
    border: 1px solid #21212b;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #21212b;
    font-weight: 600;
    font-size: 18px;
    background-color: blue;
    color: #f2f2f2;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* .web .container .header-section .blog a span {
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.web .container .header-section .blog a:hover {
    background-color: #21212b;
    color: #faff00;
}

.block-section {
    width: 80%;
}

.block-section .title-section {
    width: 100%;
    min-height: 50px;
    background-color: #21212b;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.block-section .card-layout {
    display: flex;
    width: 100%;
    gap: 3px;
    background-color: transparent;
    margin-top: 3px;
}

.block-section .card-layout .card-section {
    background-color: #f2f2f2;
    color: #21212b;
    width: 100%;
    height: 100px;
    border: 1px solid #21212b;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block-section .card-layout .card-section .card-brand {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.block-section .card-layout .card-section .card-brand img {
    width: 35px;
}

.block-section .card-layout .card-section .card-brand a {
    font-weight: 600;
    font-size: 20px;
}

.block-section .card-layout .card-section p {
    font-size: 12px;
    margin-top: 3px;
}

.web .container .container-member {
    width: 100%;
    height: auto;
    background-color: #21212b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
}

.web .container .container-member .title {
    font-size: 30px;
    font-weight: 700;
    min-height: 50px;
    padding: 10px 500px;
    background-color: blue;
    border-radius: 10px;
    color: #f2f2f2;
    width: 80%;
}

.web .container .container-member .con-grid {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* .web .container .container-member .con-grid:hover {
    transform: scale(1.1);
} */

.web .container .container-member .con-grid .card-force {
    width: 400px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
}

.web .container .container-member .con-grid .card-force img {
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 3px #21212b;
}

.web .container .container-member .con-grid .card-force .description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #21212b;
}

.web .container .container-member .con-grid .card-force .description p {
    color: blue;
    font-weight: 700;
    font-size: 13px;
}

.container .con-schedule {
    width: 80%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container .con-schedule .title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #21212b;
    color: #faff00;
    border-radius: 5px;
}

.container .con-schedule .grid-schedule {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.container .con-schedule .grid-schedule .box {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 5px 30px 20px 20px;
    border: 1px solid #21212b;
    position: relative;
}

.container .con-schedule .grid-schedule .box img {
    width: 100%;
    border-radius: 5px 30px 20px 20px;
    position: absolute;
}

.container .con-schedule .grid-schedule .box h3 {
    width: 200px;
    color: #f2f2f2;
    background-color: blue;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    transform: translatex(-10px) translateY(15px);
}

.container .con-schedule .grid-schedule .box .blur {
    width: 100%;
    height: 30%;
    background-color: #21212b;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    opacity: 0.8;
    backdrop-filter: blur(10px);
}

.container .con-schedule .grid-schedule .box .blur .content {
    padding: 10px 15px;
}

.container .con-schedule .grid-schedule .box .blur .content h4 {
    color: #faff00;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin-left: 5px;
}

.container .con-schedule .grid-schedule .box .blur .content p {
    color: #f2f2f2;
    font-size: 11px;
    font-weight: 400;
}

/* BATAS */

@media screen and (max-width:767px) /* layar Handphone */ {
    .web .container .header-section {
        width: 80%;
        min-height: 500px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
        gap: 0;
        padding: 10px 0;
    }
    
    .web .container .header-section img {
        height: auto;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #21212b;
    }
    
    .web .container .header-section .blog {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 5px;
        background-color: transparent;
    }
    
    .web .container .header-section .blog .quotes {
        width: 100%;
        height: auto;
        background-color: #21212b;
        border-radius: 10px;
        border: 1px solid #f2f2f2;
        padding: 20px;
    }
    
    .web .container .header-section .blog .quotes h2 {
        font-size: 30px;
        color: #faff00;
    }
    
    .web .container .header-section .blog .quotes p {
        font-size: 10px;
        color: #f2f2f2;
    }
    
    .web .container .header-section .blog img {
        display: none;
    }
    
    .web .container .header-section .blog button {
        width: 200px;
        height: 40px;
        border: 1px solid #21212b;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 3px #21212b;
        font-weight: bold;
        font-size: 18px;
        background-color: var(--warna-putih);
    }
    
    .block-section {
        width: 80%;
        margin-top: 250px;
    }
    
    .block-section .title-section {
        width: 100%;
        min-height: 50px;
        background-color: #21212b;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 25px;
        padding-left: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .block-section .card-layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
        background-color: transparent;
        margin-top: 3px;
    }
    
    .block-section .card-layout .card-section {
        background-color: #f2f2f2;
        color: #21212b;
        width: 100%;
        height: 80px;
        border: 1px solid #21212b;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .block-section .card-layout .card-section .card-brand {
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 10px;
    }
    
    .block-section .card-layout .card-section .card-brand img {
        width: 30px;
    }
    
    .block-section .card-layout .card-section .card-brand a {
        font-weight: 600;
        font-size: 18px;
    }
    
    .block-section .card-layout .card-section p {
        font-size: 10px;
        margin-top: 3px;
    }
    
    .web .container .container-member {
        width: 100%;
        height: auto;
        background-color: #21212b;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 50px;
    }
    
    .web .container .container-member .title {
        font-size: 30px;
        font-weight: 700;
        min-height: 50px;
        padding: 0;
        background-color: blue;
        border-radius: 10px;
        color: #f2f2f2;
        width: 80%;
        text-align: center;
    }
    
    .web .container .container-member .con-grid {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    /* .web .container .container-member .con-grid:hover {
        transform: scale(1.1);
    } */
    
    .web .container .container-member .con-grid .card-force {
        width: 400px;
        min-height: 300px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 30px;
    }
    
    .web .container .container-member .con-grid .card-force img {
        width: 100%;
        height: 250px;
        box-shadow: 1px 1px 3px #21212b;
    }
    
    .web .container .container-member .con-grid .card-force .description {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        padding: 0 5px;
    }
    
    .web .container .container-member .con-grid .card-force .description p {
        color: blue;
        font-weight: 800;
        font-size: 15px;
    }
    
    .container .con-schedule {
        width: 80%;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }

    .container .con-schedule .title {
        font-size: 13px;
    }
    
    /* .container .con-schedule .top-schedule {
        display: flex;
    }
    
    .container .con-schedule .top-schedule .title-schedule {
        background-color: orangered;
        width: 30%;
    }
    
    .container .con-schedule .top-schedule .top-hot {
        background-color: #faff00;
        width: 70%;
    } */
    
    .container .con-schedule .grid-schedule {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 300px);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    
    .container .con-schedule .grid-schedule .box {
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        border-radius: 5px 30px 20px 20px;
        border: 1px solid #21212b;
        position: relative;
    }
    
    .container .con-schedule .grid-schedule .box img {
        width: 100%;
        border-radius: 5px 30px 20px 20px;
        position: absolute;
    }
    
    .container .con-schedule .grid-schedule .box h3 {
        width: 200px;
        color: #f2f2f2;
        background-color: blue;
        font-size: 20px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 10px;
        transform: translatex(-10px) translateY(15px);
    }
    
    .container .con-schedule .grid-schedule .box .blur {
        width: 100%;
        height: 30%;
        background-color: #21212b;
        position: absolute;
        bottom: 0;
        border-radius: 0 0 20px 20px;
        opacity: 0.8;
        backdrop-filter: blur(10px);
    }
    
    .container .con-schedule .grid-schedule .box .blur .content {
        padding: 10px 15px;
    }
    
    .container .con-schedule .grid-schedule .box .blur .content h4 {
        color: #faff00;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        margin-left: 5px;
    }
    
    .container .con-schedule .grid-schedule .box .blur .content p {
        color: #f2f2f2;
        font-size: 11px;
        font-weight: 400;
    }
    
}

@media screen and (min-width:767px) and (max-width:1023px) /* layar Laptop atau Tablet */ {
    
}