.refresh {
    display: none;
}

.web .container .header-section {
    width: 80%;
    min-height: 500px;
    background-color: transparent;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 0;
}

.web .container .header-section img {
    height: 100%;
    border-radius: 10px;
    border: 1px solid #21212b;
}

.web .container .header-section .blog {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 20px;
    background-color: transparent;
}

.web .container .header-section .blog .quotes {
    width: 100%;
    height: auto;
    background-color: #21212b;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    padding: 20px;
}

.web .container .header-section .blog .quotes h2 {
    font-size: 30px;
    color: #faff00;
}

.web .container .header-section .blog .quotes p {
    font-size: 12px;
    color: #f2f2f2;
}

.web .container .header-section .blog img {
    display: none;
}

.web .container .header-section .blog a {
    width: 200px;
    border: 1px solid #21212b;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #21212b;
    font-weight: bold;
    font-size: 18px;
    background-color: blue;
    color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.web .container .header-section .blog a:hover {
    background-color: #21212b;
    color: #faff00;
}

.block-section {
    width: 80%;
}

.block-section .title-section {
    width: 100%;
    min-height: 50px;
    background-color: #21212b;
    color: #f2f2f2;
    font-weight: 700;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.block-section .card-layout {
    display: flex;
    width: 100%;
    gap: 3px;
    background-color: transparent;
    margin-top: 3px;
}

.block-section .card-layout .card-section {
    background-color: #f2f2f2;
    color: #21212b;
    width: 100%;
    height: 100px;
    border: 1px solid #21212b;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block-section .card-layout .card-section .card-brand {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.block-section .card-layout .card-section .card-brand img {
    width: 35px;
}

.block-section .card-layout .card-section .card-brand a {
    font-weight: 600;
    font-size: 20px;
}

.block-section .card-layout .card-section p {
    font-size: 12px;
    margin-top: 3px;
}

.web .container .container-member {
    width: 100%;
    height: auto;
    background-color: #21212b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
}

.web .container .container-member .title {
    font-size: 30px;
    font-weight: 700;
    min-height: 50px;
    padding: 10px 500px;
    background-color: blue;
    border-radius: 10px;
    color: #f2f2f2;
    width: 80%;
}

.web .container .container-member .con-grid {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* .web .container .container-member .con-grid:hover {
    transform: scale(1.1);
} */

.web .container .container-member .con-grid .card-force {
    width: 400px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
}

.web .container .container-member .con-grid .card-force img {
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 3px #21212b;
}

.web .container .container-member .con-grid .card-force .description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 5px;
}

.web .container .container-member .con-grid .card-force .description p {
    color: blue;
    font-weight: 800;
    font-size: 15px;
}

.web .container .con-plan {
    width: 80%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.web .container .con-plan .title {
    background-color: #21212b;
    color: #faff00;
    text-shadow: 1px 1px 1px #f2f2f2;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
}

.web .container .con-plan .schedule-layout {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.web .container .con-plan .schedule-layout .schedule-row {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #21212b;
    border: 1px solid #21212b;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

.web .container .con-plan  .schedule-layout .schedule-row .hot {
    width: 100%;
    min-height: 200px;
    background-color: #21212b;
    display: flex;
}

.web .container .con-plan  .schedule-layout .schedule-row .hot img {
    height: 100%;
}

.web .container .con-plan .schedule-layout .schedule-column {
    width: 100%;
    min-height: 400px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}
.web .container .con-plan .schedule-layout .schedule-column .box {
    width: 100%;
    min-height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #21212b;
}

/* BATAS */

@media screen and (max-width:767px) /* layar Handphone */ {
    .refresh {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orangered;
        color: #f2f2f2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 15px;
        z-index: 3;
    }

    .web .container .header-section {
        width: 80%;
        min-height: 500px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
        gap: 0;
        padding: 10px 0;
    }
    
    .web .container .header-section img {
        height: auto;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #21212b;
    }
    
    .web .container .header-section .blog {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 5px;
        background-color: transparent;
    }
    
    .web .container .header-section .blog .quotes {
        width: 100%;
        height: auto;
        background-color: #21212b;
        border-radius: 10px;
        border: 1px solid #f2f2f2;
        padding: 20px;
    }
    
    .web .container .header-section .blog .quotes h2 {
        font-size: 30px;
        color: #faff00;
    }
    
    .web .container .header-section .blog .quotes p {
        font-size: 12px;
        color: #f2f2f2;
    }
    
    .web .container .header-section .blog img {
        display: none;
    }
    
    .web .container .header-section .blog button {
        width: 200px;
        height: 40px;
        border: 1px solid #21212b;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 1px 1px 3px #21212b;
        font-weight: bold;
        font-size: 18px;
        background-color: var(--warna-putih);
    }
    
    .block-section {
        width: 80%;
        margin-top: 250px;
    }
    
    .block-section .title-section {
        width: 100%;
        min-height: 50px;
        background-color: #21212b;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 25px;
        padding-left: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .block-section .card-layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3px;
        background-color: transparent;
        margin-top: 3px;
    }
    
    .block-section .card-layout .card-section {
        background-color: #f2f2f2;
        color: #21212b;
        width: 100%;
        height: 100px;
        border: 1px solid #21212b;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .block-section .card-layout .card-section .card-brand {
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 10px;
    }
    
    .block-section .card-layout .card-section .card-brand img {
        width: 35px;
    }
    
    .block-section .card-layout .card-section .card-brand a {
        font-weight: 600;
        font-size: 20px;
    }
    
    .block-section .card-layout .card-section p {
        font-size: 12px;
        margin-top: 3px;
    }
    
    .web .container .container-member {
        width: 100%;
        height: auto;
        background-color: #21212b;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 50px;
    }
    
    .web .container .container-member .title {
        font-size: 30px;
        font-weight: 700;
        min-height: 50px;
        padding: 0;
        background-color: blue;
        border-radius: 10px;
        color: #f2f2f2;
        width: 80%;
    }
    
    .web .container .container-member .con-grid {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    /* .web .container .container-member .con-grid:hover {
        transform: scale(1.1);
    } */
    
    .web .container .container-member .con-grid .card-force {
        width: 400px;
        min-height: 300px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 30px;
    }
    
    .web .container .container-member .con-grid .card-force img {
        width: 100%;
        height: 250px;
        box-shadow: 1px 1px 3px #21212b;
    }
    
    .web .container .container-member .con-grid .card-force .description {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        padding: 0 5px;
    }
    
    .web .container .container-member .con-grid .card-force .description p {
        color: blue;
        font-weight: 800;
        font-size: 15px;
    }
    
    .web .container .con-plan {
        width: 80%;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .web .container .con-plan .title {
        background-color: #21212b;
        color: #faff00;
        text-shadow: 1px 1px 1px #f2f2f2;
        text-align: center;
        padding: 10px;
        font-weight: 700;
        font-size: 25px;
        border-radius: 5px;
    }
    
    .web .container .con-plan .schedule-layout {
        width: 100%;
        min-height: 100px;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
    
    .web .container .con-plan .schedule-layout .schedule-row {
        width: 100%;
        height: auto;
        background-color: #f2f2f2;
        border-radius: 5px;
        color: #21212b;
        border: 1px solid #21212b;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        grid-area: 1 / 1 / 2 / 4;
    }
    
    .web .container .con-plan  .schedule-layout .schedule-row .hot {
        width: 100%;
        min-height: 200px;
        background-color: #21212b;
        display: flex;
    }
    
    .web .container .con-plan  .schedule-layout .schedule-row .hot img {
        height: 100%;
    }
    
    .web .container .con-plan .schedule-layout .schedule-column {
        width: 100%;
        min-height: 400px;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;
    }
    .web .container .con-plan .schedule-layout .schedule-column .box {
        width: 100%;
        min-height: 200px;
        background-color: #f2f2f2;
        border: 1px solid #21212b;
    }
    
}

@media screen and (min-width:767px) and (max-width:1023px) /* layar Laptop atau Tablet */ {
    
}